<div class="menu">
  <div class="container">
    <div class="form-wrapper">
      <div class="switch">
        <span class="switch__icon switch__icon--btn active">
          Load More Button
        </span>

        <div class="switch__control">
          <input
            class="switch__toggle"
            type="checkbox"
            name="theme"
            id="switch-toggle"
            aria-label="Switch between 'load-more-btn' and 'infinite scroll'"
          />
          <label aria-hidden="true" class="switch__track" for="switch-toggle">
          </label>
          <div aria-hidden="true" class="switch__marker"></div>
        </div>

        <span class="switch__icon switch__icon--scroll"> Infinite Scroll</span>
      </div>

      <form class="search-form" id="search-form">
        <input
          class="search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />

        <button type="submit" class="search-btn btn">
          <i class="material-icons icon">search</i>
        </button>
      </form>
    </div>
  </div>
</div>
